*{
    position: relative;
}
html,body{
	height: 100%;
}
#musicBox{
    width: 100%;
    height: 100%;
    .bottom{
        position: fixed;
        bottom: 0;
        height: 20%;
        min-height: 100px;
        width: 100%;
        border-top: solid 2px black;
        .Box{
            margin: 0 auto;
            width: 35%;
            height: 100%;
            border: solid 1px black;
            display: flex;
            flex-direction: column;
            .controlBox{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex: 5;
            }
            .timeLineBox{
                width: 100%;
                flex: 5;
            }
            .timeLine{
                width: 70%;
                height: 3px;
                margin: 0 auto;
                border: solid 1px black;
                border-radius: 20%;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%,-50%);
                #timeLine_process{
                    background-color: red;
                    width: 50%;
                    height: 3px;
                }
            }
        }
    }
}